.footer {
    background: #F0F2F9;
}

.footer .logo {
    height: 100px;
}

.footer h4 {
    font-size: 16px;
    color: #F8AD2E;
}

.footer span {
    color: gray;
}

.footer span a {
    color: gray;
    text-decoration: none;
}

.footer .menu-list {
    padding-left: 0px;
    list-style: none;
}

.footer .menu-list li a {
    color: gray;
    text-decoration: none;
    transition: all 0.5s;
}

.footer .menu-list li a:hover {
    color: #9ca6c8;
}

.footer .menu-list li:before {

    content: url(../../../assets/images/icons/point.svg);
    float: left;
    margin-left: 0px;
    margin-right: 10px;
    width: 18px;
    cursor: pointer;
    filter: invert(1);
}

.footer .social-media {
    float: left;
    padding-left: 0px;
}

.footer .social-media li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.footer .social-media li a {

    text-decoration: none;
    color: gray;
    font-size: 24px;
    transition: all 0.5s;
}

.footer .social-media li a:hover {

    color: #fff;
}

.footer .footer-menu-content {
    background: #F0F2F9;
}

.footer .footer-bottom-bar {
    background: #1B2F59;
}

.footer .footer-bottom-bar p {
    color: #9ca6c8;
}

@media (max-width: 480px) {
    .footer .logo {
        height: 70px;
        margin: 0 auto;
        display: table;
    }

    .content {
        display: table;
        margin: 0 auto;
        width: 80%;
    }

    .footer .social-media li {
        margin-right: unset;
        margin: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .footer .footer-bottom-bar p {
        text-align: center;
    }
}