.statement {
    overflow: hidden;
    background: #E3CEB9;
}

.statement h1 {
    font-size: 45px;
    font-weight: bold;
    color: #1A3059;
}

.statement p {
    color: #1A3059;
}

.btn-action {

    font-size: 22px;
    border: 1.5px solid #1A3059;
    background: transparent;
}

.btn-action:hover {
    background: #1A3059;
    border: 1.5px solid #1A3059;
    color: #280739;
}