.loading {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading>.loading-content {

    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid #18307F;
    border-radius: 50%;
    animation: loading 800ms linear infinite;
}

@keyframes loading {
    to {
        transform: rotateZ(-360deg);
    }
}